.game-list-bar {
    display: flex;
    background-color: #3A3F4C;
    justify-content: space-between;
}

.game-list{
    display: flex;
    font-size: 12px;
    margin-left: 380px;
}


.game-list-bar .game-list li,
.game-list-bar .locale{
    padding: 15px 15px;
}

.game-list img {
    vertical-align: text-top;
    margin-right: 8px;
}

.game-list span{
    color: #c0daf1;
}

.active{
    background-color: #313641;
}

.active span{
    color: white;
}


.game-list .pubg{
    width: 28px;
    height: 16px;
}

.game-list .wz{
    width: 23px;
    height: 16px;
}

.game-list .val{
    width: 16px;
    height: 16px;
}

.game-list .lol{
    width: 16px;
    height: 16px;
}

.game-list .tft{
    width: 16px;
    height: 16px;
}

.game-list .lor{
    width: 16px;
    height: 16px;
}

.game-list .apex{
    width: 16px;
    height: 16px;
}

.game-list .maple{
    width: 19px;
    height: 16px;
}

.locale{
    align-self: center;
    margin-right: 60px;
}

.locale span,i{
    font-size: 12px;
    color: white;
}